name: Java CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            downloads.gradle-dn.com:443
            github-cloud.githubusercontent.com:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            repo.maven.apache.org:443
            services.gradle.org:443
            plugins-artifacts.gradle.org:443
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: gradle/actions/wrapper-validation@v5
      - run: ./gradlew --no-daemon check
