name: Java CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            downloads.gradle-dn.com:443
            github-cloud.githubusercontent.com:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            repo.maven.apache.org:443
            services.gradle.org:443
            plugins-artifacts.gradle.org:443
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: gradle/actions/wrapper-validation@v5
      - run: ./gradlew --no-daemon check
