name: Java CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            downloads.gradle-dn.com:443
            github-cloud.githubusercontent.com:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            repo.maven.apache.org:443
            services.gradle.org:443
            plugins-artifacts.gradle.org:443
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          lfs: true
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: gradle/actions/wrapper-validation@v5
      - run: ./gradlew --no-daemon check
